@using System.Security.Claims;
@{
    ViewData["Title"] = "Claimy";
    var claimsIdentity = (ClaimsIdentity)User.Identity;
}
<h2>@ViewData["Title"]</h2>

@foreach(var c in claimsIdentity.Claims)
{
    <p>@c.Type - @c.Value</p>
}
