@using ShibbolethLogin
@{
    ViewData["Title"] = "Studenti";
}
<h1>@ViewData["Title"]</h1>

<p>Stránka pouze pro přihlášené s rolí student!</p>

@if (User.Identity.IsAuthenticated)
{
    <div>
        Role:
        @{
            var roles = User.Identity.GetRoles();
            <strong>@(string.Join(", ", roles))</strong>
        }

    </div>
}
